*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store.
*.pyc
*.orig
*.bak
*.project
*.pydevproject
*.so
.settings
shared/data
shared/deps/cpuid_test_kernel/cpuid_dump_kernel.bin
qemu/env
logs
qemu/unittests
qemu/cfg/base.cfg
qemu/cfg/cdkeys.cfg
qemu/cfg/guest-hw.cfg
qemu/cfg/guest-os.cfg
qemu/cfg/machines.cfg
qemu/cfg/subtests.cfg
qemu/cfg/virtio-win.cfg
libvirt/cfg/base.cfg
libvirt/cfg/cdkeys.cfg
libvirt/cfg/guest-hw.cfg
libvirt/cfg/guest-os.cfg
libvirt/cfg/machines.cfg
libvirt/cfg/subtests.cfg
libvirt/cfg/virtio-win.cfg
libvirt/env
lvsb/cfg/subtests.cfg
lvsb/env
v2v/cfg/base.cfg
v2v/cfg/cdkeys.cfg
v2v/cfg/guest-hw.cfg
v2v/cfg/guest-os.cfg
v2v/cfg/machines.cfg
v2v/cfg/subtests.cfg
v2v/cfg/virtio-win.cfg
openvswitch/cfg/base.cfg
openvswitch/cfg/cdkeys.cfg
openvswitch/cfg/guest-hw.cfg
openvswitch/cfg/guest-os.cfg
openvswitch/cfg/machines.cfg
openvswitch/cfg/subtests.cfg
openvswitch/cfg/virtio-win.cfg
libguestfs/cfg/base.cfg
libguestfs/cfg/cdkeys.cfg
libguestfs/cfg/guest-hw.cfg
libguestfs/cfg/guest-os.cfg
libguestfs/cfg/machines.cfg
libguestfs/cfg/subtests.cfg
libguestfs/cfg/virtio-win.cfg
tools/github/*cache
tmp
.*.swp
RELEASE-VERSION
