*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store.
*.pyc
*.orig
*.bak
*.project
*.pydevproject
*.so
.settings
shared/data
qemu/env
logs
qemu/cfg/base.cfg
qemu/cfg/cdkeys.cfg
qemu/cfg/guest-hw.cfg
qemu/cfg/guest-os.cfg
qemu/cfg/subtests.cfg
qemu/cfg/virtio-win.cfg
libvirt/cfg/base.cfg
libvirt/cfg/cdkeys.cfg
libvirt/cfg/guest-hw.cfg
libvirt/cfg/guest-os.cfg
libvirt/cfg/subtests.cfg
libvirt/cfg/virtio-win.cfg
v2v/cfg/base.cfg
v2v/cfg/cdkeys.cfg
v2v/cfg/guest-hw.cfg
v2v/cfg/guest-os.cfg
v2v/cfg/subtests.cfg
v2v/cfg/virtio-win.cfg
openvswitch/cfg/base.cfg
openvswitch/cfg/cdkeys.cfg
openvswitch/cfg/guest-hw.cfg
openvswitch/cfg/guest-os.cfg
openvswitch/cfg/subtests.cfg
openvswitch/cfg/virtio-win.cfg
tmp
