- test.64:
    image_name = images/fedora-test-64
    vm_arch_name = x86_64
    unattended_install:
        unattended_file = unattended/Fedora-test.ks
        #floppies = "fl"
        #floppy_name = images/fedora-test-64/ks.vfd
        cdrom_unattended = images/fedora-test-64/ks.iso
        kernel = images/fedora-test-64/vmlinuz
        initrd = images/fedora-test-64/initrd.img
        syslog_server_proto = tcp
    unattended_install.cdrom:
        cdrom_cd1 = isos/linux/Fedora-18-Beta-x86_64-DVD.iso
        kernel_params = "repo=cdrom:/dev/sr1 ks=cdrom:/dev/sr0 nicdelay=60 console=ttyS0,115200 console=tty0"
