# Variants describing the various machines

variants:
     - @i440fx:
          only i386, x86_64
          machine_type = pc
    - q35:
        only i386, x86_64
        no ide
        machine_type = q35
     - @pseries:
          only ppc64
          machine_type = pseries
